@import url(./vendor/fonts/fonts.css);

body {
    margin: 0 auto;
    max-width: 1280px;
    min-width: 320px;
    gap: 40px;
}

body,
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    gap: 65px;
}

.content div {
    position: relative;
}

.content__cabinet {
    background-image: url(./images/FoodCabinet.svg);
    margin: 0;
    padding-left: 0;

    width: 211.37px;
    height: 431.35px;

    position: relative;
        /* box-sizing: border-box;
        padding-top: 6vw;
        width: 40vw;
        height: 80vh;
        display: grid;
        justify-content: center;
        align-content: start;
        justify-items: center;
        align-items: end;
        grid-template-columns: repeat(4, minmax(7vw, max-content));
        grid-template-rows: repeat(3, minmax(12vw, max-content));
        grid-template-areas:
            "wine milk jam cheese"
            "meat chicken chicken chips"
            "pinaple bananas apple salad";
        row-gap: 3vw; */
}

.content__cabinet,
.content__cart {
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.content__product {
    list-style-type: none;
    height: min-content;
    cursor: move;
    z-index: 9;
    position: absolute;
}

.content__img {
    width: 100%;
    height: auto;
}

.content__cart {
    background-image: url(./images/Cart.svg);

    width: 276.08px;
    height: 325.07px;
    
    /* width: 45vw;
    height: 16em; */
    position: absolute;
    top: 343px;
    /* bottom: -100px; */
    left: -33px;
}

#wine {
    /* grid-area: wine;
    transform: translateX(11px) translateY(-3px); */
    top: -2px;
    left: 21px;
}

#milk {
    /* grid-area: milk;
    transform: translateX(3px) translateY(-3px); */
    top: 32px;
    left: 63px;
}

#jam {
    /* grid-area: jam;
    transform: translateX(0px) translateY(-3px); */
    top: 80px;
    left: 102px;
}

#cheese {
    /* grid-area: cheese;
    transform: translateX(-11px); */
    top: 90px;
    left: 157px;
}

#meat {
    /* grid-area: meat;
    transform: rotate(2deg) translateX(5px) translateY(6px); */
    top: 168px;
    left: 5px;
}

#chicken {
    /* grid-area: chicken;
    transform: rotate(2deg) translateX(-10px) translateY(18px); */
    top: 170px;
    left: 56px;
}

#chips {
    /* grid-area: chips;
    transform: translateX(-19px) translateY(9px); */
    top: 177px;
    left: 128px;
}

#pinaple {
    /* grid-area: pinaple;
    transform: translateX(2px) translateY(-3px); */
    top: 238px;
    left: 11px;
}

#bananas {
    /* grid-area: bananas;
    transform: translateX(3px) translateY(-2px); */
    top: 266px;
    left: 57px;
}

#apple {
    /* grid-area: apple;
    transform: translateX(5px) translateY(-3px); */
    top: 277px;
    left: 114px;
}

#salad {
    /* grid-area: salad;
    transform: translateX(0px) translateY(3px); */
    top: 269px;
    left: 154px;
}

.content__button {
    background-color: rgba(252, 224, 0, 1);
    box-sizing: border-box;
    padding: 19px 17px;
    border-radius: 15px;
    border: none;
    font-family: 'YS Text', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: -0.5%;
    text-align: center;
    transition: visibility ease-in-out 0.5s;
    z-index: 10;
    visibility: hidden;
}

.content__button_visible {
    transition: visibility ease-in-out 0.5s;
    visibility: visible;
}

.content__button:hover {
    cursor: pointer;
    background-color: rgb(221, 196, 3);
    transition: all ease-in-out 0.2s;
}

header {
    margin: 20px auto;
}

header a {
    font-family: 'YS Text', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: -0.5%;
    text-align: center;
    text-decoration: none;
    color: lightslategrey;
}