@import url(./vendor/fonts/fonts.css);

body {
    margin: 0 auto;
    max-width: 1280px;
    min-width: 320px;
    gap: 20px;
    --cabinet-width-default: 211.37;
    --cabinet-height-default: 431.35;
    --ratio-cabinet-width: calc(var(--cabinet-width) / var(--cabinet-width-default));
    --ratio-cabinet-height: calc(var(--cabinet-height) / var(--cabinet-height-default));
    --cabinet-width: max(211.37px, min(calc(70vh * var(--cabinet-width-default) / var(--cabinet-height-default)), 40vw));
    --cabinet-height: calc(var(--cabinet-width)*(var(--cabinet-height-default)/ var(--cabinet-width-default)));
    --cart-width: calc(276.08 * var(--ratio-cabinet-width));
    --cart-height: calc(228.04 * var(--ratio-cabinet-height));

    --wine-width: calc(37 * var(--ratio-cabinet-width));
    --wine-height: calc(124.12 * var(--ratio-cabinet-height));
    --milk-width: calc(37 * var(--ratio-cabinet-width));
    --milk-height: calc(90.73 * var(--ratio-cabinet-height));
    --jam-width: calc(46 * var(--ratio-cabinet-width));
    --jam-height: calc(41.34 * var(--ratio-cabinet-height));
    --cheese-width: calc(36.2 * var(--ratio-cabinet-width));
    --cheese-height: calc(34.38 * var(--ratio-cabinet-height));
    --meat-width: calc(49 * var(--ratio-cabinet-width));
    --meat-height: calc(48.76 * var(--ratio-cabinet-height));
    --chicken-width: calc(54.47 * var(--ratio-cabinet-width));
    --chicken-height: calc(49.85 * var(--ratio-cabinet-height));
    --chips-width: calc(76.17 * var(--ratio-cabinet-width));
    --chips-height: calc(46.98 * var(--ratio-cabinet-height));
    --pinaple-width: calc(35 * var(--ratio-cabinet-width));
    --pinaple-height: calc(74.08 * var(--ratio-cabinet-height));
    --bananas-width: calc(47 * var(--ratio-cabinet-width));
    --bananas-height: calc(47.41 * var(--ratio-cabinet-height));
    --apple-width: calc(31 * var(--ratio-cabinet-width));
    --apple-height: calc(35.99 * var(--ratio-cabinet-height));
    --salad-width: calc(61.74 * var(--ratio-cabinet-width));
    --salad-height: calc(50.98 * var(--ratio-cabinet-height));
}

body,
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    gap: 65px;
}

.content section {
    position: relative;
}

.content__cabinet {
    background-image: url(./images/FoodCabinet.svg);
    margin: 0;
    padding-left: 0;
    width: var(--cabinet-width);
    height: var(--cabinet-height);
    position: relative;
}

.content__cabinet,
.content__cart {
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.content__product {
    list-style-type: none;
    cursor: move;
    z-index: 9;
}

.content__product_absolute {
    position: absolute;
}

.content__product_static {
    position: static;
}

.content__img {
    width: 100%;
    height: auto;
}

.content__cart {
    background-image: url(./images/Cart.svg);
    z-index: 9;
    width: var(--cart-width);
    height: var(--cart-height);
    position: absolute;
    top: calc(343 * var(--ratio-cabinet-height));
    left: calc(-33 * var(--ratio-cabinet-width));
}

.content__cart-list {
    z-index: 8;
    margin: 0;
    padding-left: 0;
    display: grid;
    grid-template-rows: repeat(1, 53%);
    grid-template-columns: repeat(5, 10%);
    justify-content: center;
    justify-items: flex-start;
    align-items: flex-end;
    align-content: center;
    width: var(--cart-width);
    height: var(--cart-height);
    position: absolute;
    top: calc(343 * var(--ratio-cabinet-height));
    left: calc(-33 * var(--ratio-cabinet-width));
}

#wine {
    width: var(--wine-width);
    height: var(--wine-height);
    top: calc(-2 * var(--ratio-cabinet-height));
    left: calc(21 * var(--ratio-cabinet-width));
}

#milk {
    width: var(--milk-width);
    height: var(--milk-height);
    top: calc(32 * var(--ratio-cabinet-height));
    left: calc(63 * var(--ratio-cabinet-width));
}

#jam {
    width: var(--jam-width);
    height: var(--jam-height);
    top: calc(80 * var(--ratio-cabinet-height));
    left: calc(102 * var(--ratio-cabinet-width));
}

#cheese {
    width: var(--cheese-width);
    height: var(--cheese-height);
    top: calc(90 * var(--ratio-cabinet-height));
    left: calc(157 * var(--ratio-cabinet-width));
}

#meat {
    width: var(--meat-width);
    height: var(--meat-height);
    top: calc(168 * var(--ratio-cabinet-height));
    left: calc(5 * var(--ratio-cabinet-width));
}

#chicken {
    width: var(--chicken-width);
    height: var(--chicken-height);
    top: calc(174 * var(--ratio-cabinet-height));
    left: calc(60 * var(--ratio-cabinet-width));
}

#chips {
    width: var(--chips-width);
    height: var(--chips-height);
    top: calc(177 * var(--ratio-cabinet-height));
    left: calc(128 * var(--ratio-cabinet-width));
}

#pinaple {
    width: var(--pinaple-width);
    height: var(--pinaple-height);
    top: calc(238 * var(--ratio-cabinet-height));
    left: calc(11 * var(--ratio-cabinet-width));
}

#bananas {
    width: var(--bananas-width);
    height: var(--bananas-height);
    top: calc(266 * var(--ratio-cabinet-height));
    left: calc(57 * var(--ratio-cabinet-width));
}

#apple {
    width: var(--apple-width);
    height: var(--apple-height);
    top: calc(277 * var(--ratio-cabinet-height));
    left: calc(114 * var(--ratio-cabinet-width));
}

#salad {
    width: var(--salad-width);
    height: var(--salad-height);
    top: calc(269 * var(--ratio-cabinet-height));
    left: calc(154 * var(--ratio-cabinet-width));
}

.content__button {
    background-color: rgba(252, 224, 0, 1);
    box-sizing: border-box;
    padding: 19px 17px;
    border-radius: 15px;
    border: none;
    font-family: 'YS Text', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: -0.5%;
    text-align: center;
    -webkit-transition: opacity ease-in-out 0.5s;
    transition: opacity ease-in-out 0.5s;
    z-index: 10;
    opacity: 0;
}

.content__button_visible {
    -webkit-transition: opacity ease-in-out 0.5s;
    transition: opacity ease-in-out 0.5s;
    opacity: 1;
}

.content__button:hover {
    cursor: pointer;
    background-color: rgb(221, 196, 3);
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.content__button:disabled {
    cursor: default;
}
